body{
    background-image: url("../images/rick.png");
    background-repeat: no-repeat;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

#start{
    margin-top: 15px;
    padding: 10px;
    color: white;
    border-color: lightblue;
    background-color: lightblue;
}

h1{
    color: black;
    text-align: center;
}

h2{
    text-align: center;
    font-family: 'Viaoda Libre', cursive;
}

h3{
    text-align: center;
}

#button{
    text-align: center;
}