body{
    background-image: url("../images/rnmsunset.png");
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

#start{
    margin-top: 15px;
    padding: 10px;
    color: white;
    border-color: white;
    background-color: #3f27cd;
    border-radius: 20px;
}

h1{
    color: white;
    padding: 20px;
}

h2{
    padding: 20px;
}


p{
    font-size: 24px;
}

.choices{
    margin: 20px;
    background-color: #3f27cd;
    color: white;
    border-color: #3f27cd;
    border-radius: 20px;
    font-size: 20px;
}

#restart{
    background-color: #3f27cd;
    color: white;
    border-color: #3f27cd;
    border-radius: 20px;
}

